<footer class="footer">
 <div class="container">
    <div class="fcenter">YelpCamp-2017 Created by
    <a href="https://github.com/Asim1996/yelpcamp">Asim</a>
    as a part of 
    <a href="https://www.udemy.com/the-web-developer-bootcamp/" target="blank">Colt Steele's Web Developer Bootcamp</a>
    </div>
 </div> 
</footer>
  
 </body>
</html>