<footer class="footer">
          <div class="contain">
        <p class="text-muted">YelpCamp 2017 | Created by:<a href="https://github.com/Asim1996/yelpcamp">Asim</a> as a part of Colt Steele <a href="https://www.udemy.com/the-web-developer-bootcamp/">Web Developer Bootcamp</a></p>
          </div>
        </footer>

	  
 </body>
</html>